# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment variables

# IDE (PyCharm)
.idea/


# OS
.DS_Store

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
